/backend/bootstrap/compiled.php
/backend/vendor


/backend/build/logs
/backend/build/coverage


/backend/app/tests/_log


/backendcomposer.phar


/backend.DS_Store


/backend/.idea
/backend/_ide_helper.php


/backend/app/config/packages
/backend/public/packages


/backend/node_modules

